{% extends "layout.html" %}

{% block title %}Research Data Explorer{% endblock %}

{% block content %}
<h2>Datasets</h2>

<div class="dataset-list">
{% for item in items %}
  <div class="item">
    <a href="/item/{{ item.id }}">{{ item.title }}</a> <br>
    {{ item.year }} |
    {{ item.scientific_field }} |
    {{ item.data_type }}
  </div>
  {% endfor %}
</div>

<p>
    <a href="/{{ page -1 }}">&lt;&lt;</a>
  {{ page }}/{{ page_count }}
    <a href="/{{ page + 1 }}">&gt;&gt;</a>
</p>

{% endblock %}
