<!DOCTYPE html>
<html>

<head>
  <title>Research Data Explorer</title>
</head>

<body>
  <h1>Research Data Explorer</h1>
  {% if session.username %}
  <p>
    You are logged in as {{ session.username }}, and your ID number is {{ session.user_id }}.
  </p>
   <p>
    <a href="/logout">Logout</a>
  </p>
  <p>
    <a href="/new_dataset"> Add dataset</a>
  </p>
  {% else %}
  <p>
    <a href="/login">Login</a>
    <a href="/register">Create account</a>
  </p>
  {% endif %}
  <p>
    <a href="/find_dataset"> Find dataset</a>
  </p>

  <h2>Datasets</h2>
  <ul>
    {% for item in items %}
    <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>



</body>

</html>