<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
  <header class="header">
  <div class="title-block">
    <h1>Research Data Explorer</h1>
      <img src="{{ url_for('static', filename='logo2.png') }}" alt="ReDaX logo" class="logo">
  </div>
    </header>

  {% if session.username %}
  <p>
    Logged in as <a href="/user/{{ session.user_id }}"> {{ session.username }}.</a>
  </p>
  {% endif %}

  <p>
    <a href="/"> Home</a> |
    <a href="/find_dataset">Find dataset</a> |
    {% if session.user_id %}
    <a href="/new_dataset">Add dataset</a> |
    <a href="/logout">Logout</a>
  {% else %}
    <a href="/login">Login</a> |
    <a href="/register">Create account</a>
  {% endif %}
  </p>

  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}


  {% block content %}{% endblock %}
  
</body>

</html>